* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.menu {
  font-size: 28px;
  background: #333;
  opacity: 0.9;
  height: 80px;
  text-align: center;
}

.menu p {
  padding-top: 20px;
  margin: 0 auto;
  color: coral;
}

.menu p:hover {
  color: white;
}

.topnav {
  font-size: 22px;
  text-align: center;
  height: 300px;
  display: none;

}

.topnav ul li {
  margin: 0;
  display: block;
  width: 100%;
  list-style: none;
  padding: 25px;
  background: coral;

}

.topnav a {
  text-decoration: none;
  color: #333;
}

.topnav a:hover {
  color: coral;
  opacity: 0.9;
}
