* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.mobile-menu,
.desktop-menu {
  font-size: 28px;
  background: #333;
  opacity: 0.9;
  height: 80px;
}

.desktop-menu p {
  padding-top: 20px;
  margin: 0 auto;
  color: coral;
}

.desktop-menu p:hover {
  color: white;
}

#menu-text {
  text-align: center;
}

#hamburger {
  background: none;
  padding-top: 15px;
  text-align: center;
  background: none;
  line-height:45px;
  color: coral;
  border:0;
  font-size: 1.4em;
  font-weight:bold;
  cursor:pointer;

}

#cross {
  display: none;
  text-align: center;
  background:none;
  color: coral;
  border:0;
  font-size:3em;
  line-height: 70px;
  font-weight:bold;
  cursor: pointer;
  outline:none;
}

.topnav {
  font-size: 22px;
  text-align: center;
  height: 300px;
  display: none;
}

.topnav ul li {
  margin: 0;
  display: block;
  width: 100%;
  list-style: none;
  padding: 25px;
  background: coral;

}

.topnav a {
  text-decoration: none;
  color: #333;
}

.topnav a:hover {
  color: coral;
  opacity: 0.9;
}
